.App {
  text-align: center;
  padding: 1rem;
  width: 230px;
  box-shadow: 2px 2px;
}

.MyButton {
  padding: 6px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  font-weight: bold;
  letter-spacing: 0.1px;
  display: inline-block;
  line-height: 15px;
  text-align: center;
  border: none;
  border-radius: 7px;
  box-sizing: border-box;
  background: linear-gradient(52.84deg, #63bcf6 0%, #0295f6 100%);
  color: #ffffff;
  box-shadow: 0 1px 5px 0 #acb5c2;
  padding-left: 14px;
  padding-right: 14px;

}

.MyButtonDisabled {
  box-sizing: border-box;
  background: linear-gradient(52.84deg, #63bcf6 0%, #0295f6 100%);
  color: #ffffff;
  box-shadow: 0 1px 5px 0 #acb5c2;
  padding: 6px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  transition-duration: .4s;
  cursor: not-allowed;
  outline: none;
  padding-left: 14px;
  padding-right: 14px;
}

.MyButton:hover {
  background : linear-gradient(48.95deg, #0295f6 0%, #0068c3 100%);
  cursor: pointer;
}

.MyButton :focus{
  outline: none;
  background: '#0068C3';
  box-shadow: 0 0 3px 0 #0068c3;
  border: none;
}

.MyUList {
  line-height: 180%;
  padding: 5px;
  margin-right: 5px;
}

.MyList {
  list-style-type: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke: thin;
  align-content: space-evenly;
  border-bottom: ridge;
}